<ion-header>

  <ion-navbar color="header">
      <ion-title>Lawprotector CRM</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <h5>Appointment List</h5>
    <ion-row>
        <ion-col col-6>
            <ion-item (click)="opencal('From')">
                <ion-label class="marginlbl">{{ From }}</ion-label>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item (click)="opencal('To')">
                <ion-label class="marginlbl">{{ To }}</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
  <div class="button_div">
      <button ion-button  block (click)="getBranch()">
      View
</button>
  </div>

  <table style="width:100%" *ngIf="lists.length">
    <tr class="bckcolor">
        <th>Party Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Appointment</th>
    </tr>
    <tr *ngFor="let item of lists;">
        <td class="border">{{item.party_name}}</td>
        <td class="border">{{item.phone}}</td>
        <td class="border">{{item.email_id}}</td>
        <td class="border">{{item.appointment_date}} {{item.appointment_time}}</td>
    </tr>
    <tr *ngFor="let item of spotInfo;">
        <td class="border">{{item.party_name}}</td>
        <td class="border">{{item.phone}}</td>
        <td class="border">{{item.email_id}}</td>
        <td class="border">{{item.appointment_date}} {{item.appointment_time}}</td>
    </tr>
</table>
<ion-card *ngIf="!lists.length">
    <h6>No data found</h6>
</ion-card>
</ion-content>
